<nav class="mb-0 navbar navbar-dark default-color navbar-expand-lg">
  <a class="navbar-brand" href="#">Cuba News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="my-auto nav-item nav-link active" href="/">Home</a>
      <a class="my-auto nav-item nav-link" href="/saved">Saved articles</a>
      <a class="my-auto nav-item nav-link btn btn-danger scrape-new">Get latest articles</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center d-flex flex-column justify-content-end pb-0">
  <div class="container-fluid">
    {{!-- <div class="col-md-12 mb-0"> --}}
      <p class="lead blue lighten-5">The latest news from Granma International</p>
    {{!-- </div> --}}
  </div> 
</div>

<div class="container article-container">
  <h3>Articles</h3>
  {{#each articles}}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="{{link}}" class="card-link" target="_blank">View article on Granma International</a>
        <p class="card-text">{{intro}}...</p>
        <a data-articleId="{{_id}}" class="btn btn-primary save-btn">Save article</a>
      </div>
    </div>
  {{/each}}
</div>